# --- Segurança e Configurações ---
.env
auth/
secrets/

# --- Dados do Utilizador (Entradas e Saídas) ---
data/*.json
data/*.txt
*.xlsx
*.csv
logs/
*.log

# --- Python (Ficheiros Temporários) ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# --- IDEs e Editores ---
.vscode/
.idea/
*.swp
*.swo

# --- Distribuição e Build (.exe) ---
dist/
build/
*.spec